@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";
@import "https://fonts.cdnfonts.com/css/hack";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css";

:root {
  --bulma-body-family: Hack;
}

.section {
  padding: 12px 24px;
}

.user-info .column {
    display: flex;
    align-items: center;
}

.user-info .column img {
    border-radius: 50%;
    max-width: 100%;
}

.user-info .column.is-flex {
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .user-info .column {
        flex-direction: column;
        align-items: center;
    }

    .user-info .column.is-narrow {
        margin-bottom: 10px;
    }
}

input {
  margin-bottom: 10px;
}
